<section class="content">
    <p><strong class="title">Add Variable Endpoint </strong><strong class="httppost">POST</strong></p>
    <p class="paragraph">Adds variables to your account and specifying its name, value and optionally the type and unit.</p>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <section class="httplink linkpost">
        <span class="httplinkbody">
            <div>POST</div>
            <div>www.varvault.com/var/add-variable</div>
            <i class="material-icons copy">content_copy</i>
        </span>
        
    </section>
    
    <p><strong class="sub-title">Authorization Header</strong></p>
    <p class="paragraph">This endpoint uses Basic Authentication for username and password</p>

    <section class="table tc23 tr111">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">username</div>
        <div class="tbody">The registered username of the account.</div>
        <div class="tbody">password</div>
        <div class="tbody">The registered password of the account.</div>
    </section>

    <p><strong class="sub-title">Request Body Parameters</strong></p>
    <section class="table tc23 tr111">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">variable_name</div>
        <div class="tbody">The name the user want to call their variable</div>
        <div class="tbody">value</div>
        <div class="tbody">The initial value of the variable</div>

        <div class="tbody">variable_type *</div>
        <div class="tbody">The variable type if numeric (default), boolean or text</div>

        <div class="tbody">unit *</div>
        <div class="tbody">The unit of the variable (i.e. Celcius, Pa, °F)</div>
    </section>

    <p><strong class="sub-title">Responses</strong></p>
    <strong class="small-title">Successful Variable Adding</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 200 Ok </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"message"</div> : <div class="value">"Variable is added"</div></div>
                <div class="pt2"> <div class="key">"variable"</div> : <div class="value">"[variable]."</div></div>
                <div class="pt2"> <div class="key">"value"</div> : <div class="value">"[value]"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
    
    <strong class="small-title">Errors</strong>
    <ul>
        <li class="bullets1"><strong>Conflicting Errors:</strong> Wrong username/password, incomplete input params, variable value and type mismatch.</li>
        <li class="bullets1"><strong>Status Code:</strong> 409 Conflict </li>
        <li class="bullets1"><strong>Response Body:</strong></li>

        <section class="table">
            <div class="thead">json</div>
            <div class="tbody">
                <div class="pt1">{</div>
                    <div class="pt2"> <div class="key">"error"</div> : <div class="value">"These fields must be specified: [incomplete fields]"</div></div>
                <div class="pt1">}</div>   
            </div>
        </section>

        <section class="table">
            <div class="thead">json</div>
            <div class="tbody">
                <div class="pt1">{</div>
                    <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Wrong username/password"</div></div>
                <div class="pt1">}</div>   
            </div>
        </section>

        <section class="table">
            <div class="thead">json</div>
            <div class="tbody">
                <div class="pt1">{</div>
                    <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Expected boolean"</div></div>
                <div class="pt1">}</div>   
            </div>
        </section>
</section>