<section class="content">
    <p><strong class="title">Delete Variable Endpoint </strong><strong class="httpdelete">DELETE</strong></p>
    <p class="paragraph">Deletes the users' variables added by the user.</p>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <section class="httplink linkdelete">
        <span class="httplinkbody">
            <div>DELETE</div>
            <div>www.varvault.com/var/delete</div>
            <i class="material-icons copy">content_copy</i>
        </span>
        
    </section>
    
    <p><strong class="sub-title">Authorization Header</strong></p>
    <p class="paragraph">This endpoint uses Basic Authentication for username and password</p>

    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">username</div>
        <div class="tbody">The registered username of the account.</div>
        <div class="tbody">password</div>
        <div class="tbody">The registered password of the account.</div>
    </section>

    <p><strong class="sub-title">Request Body Parameters</strong></p>
    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">variable_name</div>
        <div class="tbody">The name of the user's saved variable</div>
    </section>

    <p><strong class="sub-title">Responses</strong></p>
    <strong class="small-title">Successful Variable Deleting</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 200 Ok </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"message"</div> : <div class="value">"Variable [variable] is deleted"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
    
    <strong class="small-title">Unauthorized/Username or Password Not Found</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 401 Error </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Unauthorized: Specify username and password"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Wrong username/password"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <strong class="small-title">Variable Not Found</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 409 Conflict </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Variable name not found"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
</section>