<section class="content">
    <p><strong class="title">Read A Variable Endpoint </strong><strong class="httppost">POST</strong></p>
    <p class="paragraph">Reads the value of the users' variable.</p>
    
    <p><strong class="sub-title">Basic Authentication Endpoint </strong></p>
    <section class="httplink linkpost">
        <span class="httplinkbody">
            <div>POST</div>
            <div>www.varvault.com/var/read</div>
            <i class="material-icons copy">content_copy</i>
        </span>
        
    </section>
    
    <p><strong class="sub-title">Authorization Header</strong></p>
    <p class="paragraph">This endpoint uses Basic Authentication Authentication for the reading of the variable and its properties.</p>

    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">username</div>
        <div class="tbody">The registered username of the account.</div>
        <div class="tbody">password</div>
        <div class="tbody">The registered password of the account.</div>
    </section>

    <p><strong class="sub-title">Bearer Token Authentication Endpoint </strong></p>
    <section class="httplink linkpost">
        <span class="httplinkbody">
            <div>POST</div>
            <div>www.varvault.com/var/read-viatoken</div>
            <i class="material-icons copy">content_copy</i>
        </span>
        
    </section>
    
    <p><strong class="sub-title">Authorization Header</strong></p>
    <p class="paragraph">This endpoint uses Bearer Authentication for the reading of the variable and its properties.</p>

    <section class="table tc23 tr11">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">Bearer</div>
        <div class="tbody">The user's generated token</div>
    </section>

    <p><strong class="sub-title">Request Body Parameters</strong></p>
    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">variable_name</div>
        <div class="tbody">The name of the user's saved variable</div>
    </section>

    <p><strong class="sub-title">Responses</strong></p>
    <strong class="small-title">Successful Variable Reading</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 200 Ok </li>
        <li class="bullets1"><strong>Response Body (Sample):</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <!-- <div class="pt2"> <div class="key">"[variable]"</div> : <div class="value">"[value]"</div></div>
                <div class="pt2"> <div class="key">"type"</div> : <div class="value">"[variable type]"</div></div>
                <div class="pt2"> <div class="key">"last_update"</div> : <div class="value">"[last time updated]"</div></div>
                <div class="pt2"> <div class="key">"unit"</div> : <div class="value">"[unit]"</div></div> -->
                <div class="pt2"> <div class="key">"Temperature"</div> : <div class="value">"37"</div>,</div>
                <div class="pt2"> <div class="key">"type"</div> : <div class="value">"numeric"</div>,</div>
                <div class="pt2"> <div class="key">"last_update"</div> : <div class="value">"2024-03-21T04:37:47.981Z"</div>,</div>
                <div class="pt2"> <div class="key">"unit"</div> : <div class="value">"Celcius"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
    
    <!-- <strong class="small-title">Unauthorized/Token Not Found</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 401 Error </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Unauthorized: Token should be specified"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Token not found"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <strong class="small-title">Variable Not Found</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 409 Conflict </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Variable name not found"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section> -->
</section>