<section class="content">
    <p><strong class="title">Update Variable Endpoint </strong><strong class="httpput">PUT</strong></p>
    <p class="paragraph">Updates the users' variables by using the generated token.</p>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <section class="httplink linkput">
        <span class="httplinkbody">
            <div>PUT</div>
            <div>www.varvault.com/var/update-viatoken</div>
            <i class="material-icons copy putt">content_copy</i>
        </span>
        
    </section>
    
    <p><strong class="sub-title">Authorization Header</strong></p>
    <p class="paragraph">This endpoint uses Bearer Authentication for the variable updating.</p>

    <section class="table tc23 tr11">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">Bearer</div>
        <div class="tbody">The user's generated token</div>
    </section>

    <p><strong class="sub-title">Request Body Parameters</strong></p>
    <section class="table tc23 tr111">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">variable_name</div>
        <div class="tbody">The name of their saved variable</div>
        <div class="tbody">value</div>
        <div class="tbody">The initial value of the variable</div>
    </section>

    <p><strong class="sub-title">Responses</strong></p>
    <strong class="small-title">Successful Variable Updating</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 200 Ok </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"message"</div> : <div class="value">"Variable is updated."</div>,</div>
                <div class="pt2"> <div class="key">"variable"</div> : <div class="value">"[variable]."</div>,</div>
                <div class="pt2"> <div class="key">"value"</div> : <div class="value">"[value]"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
    
    <strong class="small-title">Unauthorized/Token Not Found</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 401 Error </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Unauthorized: token should be specified"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Token not found"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <strong class="small-title">Incomplete Input Parameters, Variable Value and Type mismatch.</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 409 Conflict </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"These fields must be specified: [incomplete fields]"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Expected boolean"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

</section>