<section class="content">
    <h2>Update Variable Endpoint <strong class="httppatch">PATCH</strong></h2>
    <p>Updates the users' variables by providing a generated token.</p>
    
    <h3>Basic Authentication Endpoint </strong></h3>
    <section class="httplink linkpatch">
        <span class="httplinkbody">
            <div>PATCH</div>
            <div>www.varvault.com/var/update</div>
            <i class="material-icons copy putt">content_copy</i>
        </span>
        
    </section>
    
    <h3>Authorization Header</strong></h3>
    <p>This endpoint uses Basic Authentication for username and password for the variable updating.</p>

    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">username</div>
        <div class="tbody">The registered username of the account.</div>
        <div class="tbody">password</div>
        <div class="tbody">The registered password of the account.</div>
    </section>

    <h3>Bearer Token Authentication Endpoint </strong></h3>
    <section class="httplink linkpatch">
        <span class="httplinkbody">
            <div>PATCH</div>
            <div>www.varvault.com/var/update-viatoken</div>
            <i class="material-icons copy putt">content_copy</i>
        </span>
        
    </section>
    
    <h3>Authorization Header</strong></h3>
    <p>This endpoint uses Bearer Authentication for the variable updating.</p>

    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">Bearer</div>
        <div class="tbody">A user's generated token</div>
    </section>

    <h3>Request Body Parameters</strong></h3>
    <section class="table tc23">
        <div class="thead">Parameter</div>
        <div class="thead">Description</div>
        <div class="tbody">variable_name</div>
        <div class="tbody">The name of their saved variable</div>
        <div class="tbody">value</div>
        <div class="tbody">The initial value of the variable</div>
    </section>

    <h3>Response</strong></h3>
    <strong class="small-title">Successful Variable Updating</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 200 Ok </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"message"</div> : <div class="value">"Variable is updated."</div>,</div>
                <div class="pt2"> <div class="key">"variable"</div> : <div class="value">"[variable]."</div>,</div>
                <div class="pt2"> <div class="key">"value"</div> : <div class="value">"[value]"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
    
    <!-- <strong class="small-title">Unauthorized/Token Not Found</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 401 Error </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Unauthorized: token should be specified"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Token not found"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <strong class="small-title">Incomplete Input Parameters, Variable Value and Type mismatch.</strong>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 409 Conflict </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"These fields must be specified: [incomplete fields]"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Expected boolean"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section> -->

</section>