<section class="content">       
    <p><strong class="title">Overview</strong></p>
    <p class="paragraph">Varvault API can be used for Embedded board device IoT projects, providing a functionality for monitoring 
        sensor readings, controlling relays, and managing parameters remotely over the Internet. This API can help 
        developers to create user interfaces and applications that enable real-time interaction with Embedded devices from anywhere with an 
        internet connection.</p>
    <!-- <p class="paragraph">Varvault API eliminates the need for close ranged communication modules like Bluetooth, LoRa, or Zigbee. 
        This opens up for deploying Embedded board device-based IoT solutions in a wide range of scenarios, including remote monitoring in 
        industrial settings, smart home automation, and agricultural monitoring.</p> -->
    <p><strong class="sub-title">Use Cases</strong></p>
    <ul>
        <li>
            <strong>Remote Monitoring:</strong>
            Allows users to remotely monitor real-time sensor readings and other parameters from their Embedded board devices.
        </li>
        <li>
            <strong>Control Logic:</strong>
            Developers can implement control logic to automate processes and trigger actions based on sensor data. Whether it's regulating temperature, managing energy consumption, or responding to external stimuli.
        </li>
    </ul>
    <p><strong class="sub-title">Features</strong></p>
    <p class="paragraph">It offers a flexible interface for storing, updating, retrieving, and deleting variables through HTTP methods, providing seamless integration into client applications.</p>
    <ul>
        <li class="bullets1">
            <strong>User Registration and Authentication:</strong> 
                Allows users to register accounts securely.
                Implements password hashing for enhanced security.
                Provides authentication mechanisms for accessing API endpoints.
        </li>
        <li>
            <strong>Token Generation:</strong>
                Generates tokens for authenticated users to access restricted endpoints securely. Tokens are time-limited for improved security.
        </li>
        <li>
            <strong>Variable Management:</strong>
    
            Enables users to add, update, delete, and retrieve variables associated with their accounts. Supports various data types, including numeric, text, and boolean. Validates inputs to ensure data integrity and consistency.
            
        </li>
        <li>
            <strong>Flexible Access Control:</strong> Utilizes tokens for fine-grained access control, enabling users to manage their variables securely.
        </li>
    </ul>
    <p><strong>API Endpoints</strong></p>
    <ol>
        <li><p><strong>User Management</strong></p>
            <ul>
                <li class="bullets1"><strong>`/register`</strong> : Register a new user account.</li>
                <li class="bullets1"><strong>`/gen-token`</strong> : Generate an authentication token for an existing user.</li>
            </ul>
        </li>

        <li><p><strong>Variable Management</strong></p>
            <ul>
                <li class="bullets1"><strong>`/add-variable`</strong>               : Add a new variable for the authenticated user.</li>
                <li class="bullets1"><strong>`/add-variable-viatoken`</strong>      : Add a new variable using a generated token.</li>
                <li class="bullets1"><strong>`/update-variable-viatoken`</strong>   : Update an existing variable using a token.</li>
                <li class="bullets1"><strong>`/delete-variable`</strong>            : Delete a variable associated with the authenticated user.</li>
                <li class="bullets1"><strong>`/read-variable`</strong>              : Read the value of a specific variable.</li>
                <li class="bullets1"><strong>`/read-variables/:format`</strong>     : Read all variables associated with the authenticated user in a specified format.</li>
            </ul>
        </li>
        
    </ol>
    <br>
    
    
    

    <br>
    <br>
    
    
    
    
    
    
</section>