<style>
/* Basic table styles */


</style>

<section class="content">
    <p><strong class="title">Register Endpoint </strong><strong class="httppost">POST</strong></p>
    <p class="paragraph">The register endpoint allows users to create a new account by providing their desired username and password.</p>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <section class="httplink">
        <span class="httplinkbody">
            <div>POST</div>
            <div>https://www.varvault.com/register</div>
            <div><i class="material-icons">content_copy</i></div>
        </span>
        
    </section>
    
    <p><strong class="sub-title">Request Body Parameters</strong></p>
    <section class="table tc113 tr111">
        <div class="thead">Parameter</div>
        <div class="thead">Type</div>
        <div class="thead">Description</div>
        <div class="tbody">username</div>
        <div class="tbody">String</div>
        <div class="tbody">The desired username for the new account. Must be unique.</div>
        <div class="tbody">password</div>
        <div class="tbody">String</div>
        <div class="tbody">The password for the new account.</div>
    </section>
    <p>Note: This paramaters are not part of Authentication headers, but part of the request body</p>

    <p><strong class="sub-title">Responses</strong></p>
    <p>Successful Registration</p>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 200 Ok </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"message"</div> : <div class="value">"Registration Successful for [username]."</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <p>Username Already Registered</p>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 409 Conflict </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"Username already registered"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>

    <p>Validation Error</p>
    <ul>
        <li class="bullets1"><strong>Status Code:</strong> 400 Bad Request </li>
        <li class="bullets1"><strong>Response Body:</strong></li>
    </ul>
    <section class="table">
        <div class="thead">json</div>
        <div class="tbody">
            <div class="pt1">{</div>
                <div class="pt2"> <div class="key">"error"</div> : <div class="value">"[Validation Error Message]"</div></div>
            <div class="pt1">}</div>   
        </div>
    </section>
</section>