* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Instrument Sans";
}

html {
  font-size: 16px;
}

:root {
  --color_theme1: #22092C;
  --color_theme2: #61197d;
  --color_mode: rgb(17, 16, 18);
  --color_contrast: rgb(40, 40, 40);
  --color_logo: #872341;
  --text_color_title: white;
  --text_color_secondary: rgb(189, 184, 184);
  --color_post: #68D696;
  --color_post2: rgba(58, 185, 111, 0.75);
  --moon_visibility: visible;
  --sun_visibility: hidden;
}

.lightmode {
  --color_theme1: #c587dd;
  --color_theme2: #61197d;
  --color_mode: white;
  --color_contrast: rgb(190, 190, 190);
  --text_color_title: black;
  --text_color_secondary: rgb(70,70,70);
  --color_post: #3ab96f;
  --color_post2: rgba(58, 185, 111, 0.75);
  --moon_visibility: hidden;
  --sun_visibility: visible;
}

.pointer {
  cursor: pointer;
}

.moon {
  position: absolute;
  color: var(--text_color_title);
  visibility: var(--moon_visibility);
}

.sun {
  color: var(--text_color_title);
  visibility: var(--sun_visibility);
}

strong {
  font-weight: 600;
}

ul, ol {
  list-style-position: outside;
  margin-left: 15px;
}

a, p, li, ol {
  color: var(--text_color_secondary);
}

.active {
  background-color: var(--color_theme1);
  color: var(--text_color_title);
  font-weight: 400;
}

.hidden {
  visibility: hidden;
}

#message {
  background-color: var(--color_theme2);
  position: fixed;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  bottom: 0;
  right: 0;
  color: white;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.content {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
.content .title {
  font-size: 1.875rem;
}
.content .sub-title {
  font-size: 1.25rem;
}
.content .paragraph {
  font-size: 1rem;
}
.content .bullets1 {
  font-size: 1rem;
}
.content p, .content li, .content ol, .content section {
  margin-bottom: 15px;
}
.content .linkpost {
  border: 4px solid var(--color_post);
}
.content section.httplink:hover {
  box-shadow: 0px 0px 20px var(--color_post2);
  cursor: pointer;
}
.content .httplink {
  background-color: transparent;
  border-radius: 8px;
  position: relative;
}
.content .httplink .httplinkbody {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text_color_title);
  padding: 2px;
}
.content .httplink .httplinkbody div:nth-child(1) {
  background-color: var(--color_post);
  color: var(--color_mode);
  padding: 3px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-weight: 700;
  margin-right: 5px;
}
.content .httplink .httplinkbody div:nth-child(3) {
  position: absolute;
  right: 5px;
  top: 55%;
  transform: translateY(-50%);
  color: var(--color_post);
  margin-left: 5px;
}
.content .httppost {
  font-size: 1.875rem;
  padding-inline: 4px;
  border: 3px solid var(--color_post);
  color: var(--color_post);
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
.content .tc113 {
  grid-template-columns: 1fr 1fr 3fr;
}
.content .tr111 {
  grid-template-rows: 1fr 1fr 1fr;
}
.content .table {
  display: grid;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: hidden;
  color: var(--text_color_title);
  gap: 1px;
}
.content .table .pt1 {
  margin-left: 16px;
  display: flex;
  font-weight: 500;
}
.content .table .pt2 {
  margin-left: 32px;
  display: flex;
  font-weight: 500;
}
.content .table .key {
  color: #C82C6D;
  margin-right: 4px;
}
.content .table .value {
  color: #00A67D;
  margin-left: 8px;
}
.content .table .thead {
  background-color: #494949;
  padding: 7px;
  font-weight: 700;
}
.content .table .tbody {
  background-color: var(--color_mode);
  padding: 7px;
}

strong {
  color: var(--text_color_title);
}

#mainParent {
  height: -moz-fit-content;
  height: fit-content;
  width: 10vw;
}
#mainParent #header {
  background-color: var(--color_mode);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100vw;
  top: 0;
  left: 0;
  border: 2px solid var(--color_contrast);
}
#mainParent #header #logo-box {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  color: var(--text_color_title);
  flex-basis: 24%;
}
#mainParent #header #logo-box img {
  border: 1px solid rgb(202, 91, 242);
  border: 3px solid var(--color_logo);
  border-radius: 8px;
  height: 30px;
  margin-left: 10px;
  margin-right: 3px;
}
#mainParent #header #search {
  flex-basis: 66%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  visibility: hidden;
}
#mainParent #header #search input {
  padding-left: 8px;
  padding-block: 4px;
  font-size: 1.25rem;
  width: 45%;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
#mainParent #header #dark-mode-box {
  background-color: yellow;
  flex-basis: 5%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainParent #header #github-box {
  background-color: red;
  flex-basis: 5%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
#mainParent #header #github-box svg {
  color: var(--text_color_title);
  height: 22px;
}
#mainParent #sidebar {
  background-color: var(--color_mode);
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  width: 23%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 12px;
  font-size: 0.875rem;
  border: 2px solid var(--color_contrast);
}
#mainParent #sidebar a, #mainParent #sidebar strong {
  padding: 7px;
  padding-inline: 22px;
}
#mainParent #sidebar a {
  width: 100%;
}
#mainParent #content {
  background-color: var(--color_mode);
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-left: 23%;
  overflow: auto;
  display: flex;
  align-items: start;
  justify-content: start;
  overflow: auto;
}
#mainParent #content .bullets1 {
  font-size: 1rem;
}/*# sourceMappingURL=main.css.map */