* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // list-style: none;
    text-decoration: none;

    font-family: "Instrument Sans";
    // font-size: 12px;
}

html {
    font-size: 16px;
}

$mobile_size: 1000px;
$mobile_factor: 1;
@mixin mobile {
    @media (max-width: $mobile_size) {
        @content;
    }
}

$font_title: 1.875rem;
$font_sub_title: 1.25rem;
$font_default: 1rem;
$font_paragraph: 1rem;
$font_sidebar: 0.875rem;

:root {
--color_theme1: #22092C;
--color_theme2: #61197d;
--color_mode: rgb(17, 16, 18);
--color_code: rgb(17, 16, 18);
--color_contrast: rgb(40, 40, 40);
--color_logo: #872341;
--text_color_title: white;
// --color_mode: black;
--text_color_secondary: rgb(189, 184, 184);
--color_post: #68D696;
--color_patch: #74AEF6;
--color_delete: #F79A8E;

--color_post2: rgba(58, 185, 111, 0.75);
--color_headers: #494948;

--moon_visibility: visible;
--sun_visibility: hidden;
}

.lightmode {
    --color_theme1: #c587dd;
    --color_theme2: #61197d;
    --color_mode: white;
    --color_code: rgb(49, 49, 49);
    --color_contrast: rgb(190, 190, 190);
    --text_color_title: black;
    --text_color_secondary: rgb(70,70,70);
    --color_post: #3ab96f;
    --color_post2: rgba(58, 185, 111, 0.75);
    // --color_post: #dfb921;
    --color_patch: #3b6496;
    --color_delete: #c46255;
    --moon_visibility: hidden;
    --sun_visibility: visible;
}

.pointer {cursor: pointer;}

.moon {position: absolute; color: (var(--text_color_title)); visibility: var(--moon_visibility);}
.sun  {color: var(--text_color_title); visibility: var(--sun_visibility);}

strong {
    font-weight: 600;
    color: var(--text_color_title);
}

h2 {
    font-size: $font_title;
}
h3 {
    font-size: $font_sub_title;
}

ul,ol {
    list-style-position: outside;
    margin-left: 15px;
}

h2,h3 {
    font-weight: 600;
    color: var(--text_color_title);
}

a,p,li,ol {
    color: var(--text_color_secondary);
}

.active {
    background-color: var(--color_theme1);
    color: var(--text_color_title);
    font-weight: 400;
}

.hidden {visibility: hidden;}

#message {
    background-color: var(--color_theme2);
    position: fixed;
    z-index: 100;
    margin:10px;
    padding:10px;
    bottom:0; right:0;
    color: white;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5)
}

svg {height:100%;}

$mobile_size: 1000px;
$mobile_factor: 1;
@mixin mobile {
    @media (max-width: $mobile_size) {
        @content;
    }
}

body {
    background-color: var(--color_mode);
}
#root {
    #header {
        background-color: var(--color_mode);
        display: flex;
        align-items: center;
        justify-content:space-between;

        position: fixed;
        z-index: 2;
        height: 50px;
        width: 100vw;
        top: 0; left: 0;
        border: 2px solid var(--color_contrast);
        #logo-box {
            background-color: transparent;
            display: flex;
            align-items: center; 
            justify-content: start;
            padding-left:10px;
            color: var(--text_color_title);
            img {
                border: 1px solid rgb(202, 91, 242);
                border: 3px solid var(--color_logo);
                border-radius: 8px;
                height:30px;
                margin-left: 10px;
                margin-right: 3px;
            }
            flex-basis: 24%;
        }
        #search {
            // background-color: blue;
            flex-basis: 66%;

            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: start;
            visibility: hidden;
            input {
                padding-left: 8px;
                padding-block: 4px;
                font-size: $font_sub_title;
                width:45%;
                border: 1px solid #888;
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5)
            }
        }
        #dark-mode-box {
            background-color: yellow;
            flex-basis: 5%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #github-box {
            background-color: red;
            flex-basis: 5%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            svg {
                color: var(--text_color_title);
                height: 22px;
            }
        }
    }
    #sidebar {
        background-color: var(--color_mode);

        position: fixed;
        z-index: 1;
        top: 48px; left: 0;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 12px;
        font-size: $font_sidebar;
        
        border: 2px solid var(--color_contrast);

        overflow: auto;
        strong {
            margin-top: 5px;
            padding: 7px;
            padding-inline: 25px;
        }

        a {
            width: 100%;
            padding: 7px;
            padding-inline: 25px;
        }
    }
    #content {
        background-color: var(--color_mode);
        background-color: transparent;
        
        position: relative;
        width: 100%;
        top: 0; left: 0;
        padding-top: 50px;
        padding-left: 20%;
        overflow: auto;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        // border: 2px solid rgb(46, 46, 46);
        overflow: auto;
        .content {
            // background-color: #00A67D;
            padding-inline: 75px;
            padding-top: 50px;
            position: relative;

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            width: 100%;
            .bullets1 {
                font-size: $font_paragraph;
            }
            .right {
                width: 100%;
                text-align: right;
            }
            p,li,ol,section,i,h2,h3 {
                width: 100%;
                margin-bottom: 15px;
            }
        
            section.linkpost:hover { box-shadow: 0px 0px 20px var(--color_post2); cursor: pointer; }
            section.linkpatch:hover { box-shadow: 0px 0px 20px var(--color_patch); cursor: pointer; }
            section.linkdelete:hover { box-shadow: 0px 0px 20px var(--color_delete); cursor: pointer; }
            
            .httplink {
                background-color: transparent;
                border-radius: 8px;
                width: 100%;
                .httplinkbody {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    color: var(--text_color_title);
                    padding: 2px;
                    position: relative;
        
                    div:nth-child(1) {
                        color: var(--color_mode);
        
                        padding:3px;
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                        font-weight: 700;
                        margin-right: 5px;
                    }
                    div:nth-child(2) {
                        width: 100%;
                    }
                    .copy {
                        width: 10%;
                        margin-bottom: 0;
                        font-size: $font_sub_title;
                        text-align: right;
                        padding-right: 5px;
                        
                    }
                }
            }
            .linkpost { 
                border: 4px solid var(--color_post);
                .httplinkbody {
                    div:nth-child(1) {background-color: var(--color_post);}
                    .copy {color:var(--color_post);}
                }
            }
            .linkpatch { 
                border: 4px solid var(--color_patch);
                .httplinkbody {
                    div:nth-child(1) {background-color: var(--color_patch);}
                    .copy {color:var(--color_patch);}
                }
            }

            .linkdelete { 
                border: 4px solid var(--color_delete);
                .httplinkbody {
                    div:nth-child(1) {background-color: var(--color_delete);}
                    .copy {color:var(--color_delete);}
                }
            }
            
            .httppost {
                font-size: $font_title;
                padding-inline:4px;
                border: 3px solid var(--color_post);
                color: var(--color_post);
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
            }

            .httppatch {
                font-size: $font_title;
                padding-inline:4px;
                border: 3px solid var(--color_patch);
                color: var(--color_patch);
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
            }

            .httpdelete {
                font-size: $font_title;
                padding-inline:4px;
                border: 3px solid var(--color_delete);
                color: var(--color_delete);
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
            }
        
            .tc113 {grid-template-columns: 1fr 1fr 3fr;}
            .tc23 {grid-template-columns: 1fr 3fr;}
            .tr111 {grid-template-rows: 1fr 1fr 1fr;}
            .tr11 {grid-template-rows: 1fr 1fr;}
            .table {
                // background-color: white;
                display: grid;
                
                // border: 0px solid white;
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
                width:100%;
                overflow: hidden;
                color: var(--text_color_title);
                gap:1px;
                margin-bottom: 1.5rem;

                .pt1 {margin-left: 1rem; display: flex; font-weight: 500; margin-bottom: 8px;}
                .pt2 {margin-left: 2rem; display: flex; font-weight: 500; margin-bottom: 8px;}
                .pt3 {margin-left: 3rem; display: flex; font-weight: 500; margin-bottom: 8px;}
                .pt4 {margin-left: 4rem; display: flex; font-weight: 500; margin-bottom: 8px;}
                .key {color: #C82C6D;margin-right: 4px;}
                .value {color: #00A67D; margin-left: 8px;}
                .openbracket {margin-left: 8px;}
        
                .thead {
                    background-color: var(--color_headers);
                    padding:7px;
                    font-weight: 700;
                }
        
                .tbody {
                    background-color:  var(--color_mode);
                    padding: 7px;
                }
            }
            .sideimage {
                margin-left: 5px;
                // position: absolute;
                // top: 50%;
                transform: translateY(10%);
                height: $font_title;
                // background: #00A67D;
            }
        
            .pageimage {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                margin-inline: auto;
                width:70%;
                img {
                    margin-inline: auto;
                    width: 100%;
                }   
        
                i {color: var(--text_color_secondary); text-align: center;}
            }
            .info {
                // background-color: #00A67D;
                width: 100%;
                color: var(--text_color_secondary);
                text-align: center;
                margin-top: 4px;
            }
            .noMarginBottom {
                margin-bottom: 0 !important;
            }
            .small-title {
                margin-bottom: 16px;
            }
            .link {
                text-decoration: underline;
                text-decoration-color: var(--text_color_secondary);
            }
            .codings {
                margin-inline: auto;
                background-color: var(--color_mode);
                // background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
        
                overflow: hidden;
                width:50vw;
                // min-width: fit-content;
                border: 0px;
                border-radius: 10px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
                padding: 0;
        
                position: relative;
                h1 {
                    font-size: $font_paragraph;
                    background-color: var(--color_headers);
                    padding: 5px;
                    width:100%;
                    position: relative;

                    .copybutton {
                        position: absolute;
                        top: 0; right: 10px;
                        // background-color: #00A67D;
                        font-size: $font_sub_title;
                        height:100%;
                        width:fit-content;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            font-size: $font_sidebar;
                        }
                    }
                }
        
                .code {
                    width: 100%;
                    overflow:auto;
        
                    pre {
                        margin: 0;
                        padding: 0 1.5rem 1.5rem 1.5rem;
                        border: 0;
                        border-radius: 0;
                        overflow: auto;
                        background-color: var(--color_code);
                    }
                }
            }
        }
    }
}