@function set-text-color($color) {
    @if (lightness($color) > 40%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // list-style: none;
    text-decoration: none;

    font-family: "Instrument Sans";
    // font-size: 12px;
}

html {
    font-size: 16px;
}

$mobile_size: 1000px;
$mobile_factor: 1;
@mixin mobile {
    @media (max-width: $mobile_size) {
        @content;
    }
}

$font_title: 1.875rem;
$font_sub_title: 1.25rem;
$font_default: 1rem;
$font_paragraph: 1rem;
$font_sidebar: 0.875rem;

$light_theme: true !default;
:root {
--color_theme1: #22092C;
--color_theme2: #61197d;
--color_mode: rgb(17, 16, 18);
--color_contrast: rgb(40, 40, 40);
--color_logo: #872341;
--text_color_title: white;
// --color_mode: black;
--text_color_secondary: rgb(189, 184, 184);
--color_post: #68D696;
--color_post2: rgba(58, 185, 111, 0.75);

--moon_visibility: visible;
--sun_visibility: hidden;
}

.lightmode {
    --color_theme1: #c587dd;
    --color_theme2: #61197d;
    --color_mode: white;
    --color_contrast: rgb(190, 190, 190);
    --text_color_title: black;
    --text_color_secondary: rgb(70,70,70);
    --color_post: #3ab96f;
    --color_post2: rgba(58, 185, 111, 0.75);
    // --color_post: #dfb921;
    --moon_visibility: hidden;
    --sun_visibility: visible;
}

.pointer {cursor: pointer;}

.moon {position: absolute; 
    color: (var(--text_color_title)); visibility: var(--moon_visibility);
}
.sun  {color: var(--text_color_title); visibility: var(--sun_visibility);}

// var(--color_mode): white !default;;
strong {
    font-weight: 600;
}

ul,ol {
    list-style-position: outside;
    margin-left: 15px;
}

a,p,li,ol {
    color: var(--text_color_secondary);
}

.active {
    background-color: var(--color_theme1);
    color: var(--text_color_title);
    font-weight: 400;
}

.hidden {
    visibility: hidden;
}

#message {
    background-color: var(--color_theme2);
    position: fixed;
    z-index: 100;
    margin:10px;
    padding:10px;
    bottom:0; right:0;
    color: white;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5)
}

svg {height:100%;}


p {
    position: relative;
}

strong {
    color: var(--text_color_title);
}

$mobile_size: 1000px;
$mobile_factor: 1;
@mixin mobile {
    @media (max-width: $mobile_size) {
        @content;
    }
}

#root {
    #header {
        background-color: var(--color_mode);
        display: flex;
        align-items: center;
        justify-content:space-between;

        position: fixed;
        z-index: 2;
        height: 50px;
        width: 100vw;
        top: 0; left: 0;
        border: 2px solid var(--color_contrast);
        #logo-box {
            background-color: transparent;
            display: flex;
            align-items: center; 
            justify-content: start;
            padding-left:10px;
            color: var(--text_color_title);
            img {
                border: 1px solid rgb(202, 91, 242);
                border: 3px solid var(--color_logo);
                border-radius: 8px;
                height:30px;
                margin-left: 10px;
                margin-right: 3px;
            }
            flex-basis: 24%;
        }
        #search {
            // background-color: blue;
            flex-basis: 66%;

            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: start;
            visibility: hidden;
            input {
                padding-left: 8px;
                padding-block: 4px;
                font-size: $font_sub_title;
                width:45%;
                border: 1px solid #888;
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5)
            }
        }
        #dark-mode-box {
            background-color: yellow;
            flex-basis: 5%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #github-box {
            background-color: red;
            flex-basis: 5%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            svg {
                color: var(--text_color_title);
                height: 22px;
            }
        }
    }
    #sidebar {
        background-color: var(--color_mode);

        position: fixed;
        z-index: 1;
        top: 48px; left: 0;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 12px;
        font-size: $font_sidebar;
        
        border: 2px solid var(--color_contrast);

        overflow: auto;
        strong {
            margin-top: 5px;
            padding: 7px;
            padding-inline: 25px;
        }

        a {
            width: 100%;
            padding: 7px;
            padding-inline: 25px;
        }
    }
    #content {
        background-color: var(--color_mode);
        
        position: absolute;
        width: 100%;
        top: 0; left: 0;
        padding-top: 50px;
        padding-left: 20%;
        overflow: auto;
        display: flex;
        align-items: start;
        justify-content: start;
        // border: 2px solid rgb(46, 46, 46);
        overflow: auto;
        .content {
            // background-color: #00A67D;
            padding-inline: 75px;
            padding-top: 50px;
            // position: relative;
            .title {
                font-size: $font_title;
            }
            .sub-title {
                font-size: $font_sub_title;
            }
            .paragraph {
                font-size: $font_paragraph;
                // text-align: justify;
            }
            .bullets1 {
                font-size: $font_paragraph;
            }
        
            p,li,ol,section,i {
                margin-bottom: 15px;
            }
        
            .linkpost { border: 4px solid var(--color_post); }
            section.httplink:hover { box-shadow: 0px 0px 20px var(--color_post2); cursor: pointer; }
        
            .httplink {
                background-color: transparent;
                border-radius: 8px;
                position: relative;
        
                .httplinkbody {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    color: var(--text_color_title);
                    padding: 2px;
        
                    div:nth-child(1) {
                        background-color: var(--color_post);
                        color: var(--color_mode);
        
                        padding:3px;
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                        font-weight: 700;
                        margin-right: 5px;
                    }
        
                    div:nth-child(3) {
                        position: absolute;
                        right: 5px;
                        top: 62%; height: 100%;
                        // background-color: #872341;        
                        transform: translateY(-50%);
                        color:var(--color_post);
                        margin-left: 5px;
                    }
                }
            }
            
            .httppost {
                font-size: $font_title;
                padding-inline:4px;
                border: 3px solid var(--color_post);
                color: var(--color_post);
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
            }
        
            .tc113 {grid-template-columns: 1fr 1fr 3fr;}
            .tr111 {grid-template-rows: 1fr 1fr 1fr;}
            .table {
                // background-color: white;
                display: grid;
                
                // border: 0px solid white;
                border-radius: 8px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
                width:100%;
                overflow: hidden;
                color: var(--text_color_title);
                gap:1px;
        
                .pt1 {margin-left: 16px; display: flex; font-weight: 500;}
                .pt2 {margin-left: 32px; display: flex; font-weight: 500;}
                .key {color: #C82C6D;margin-right: 4px;}
                .value {color: #00A67D; margin-left: 8px;}
        
                .thead {
                    background-color: #494949;
                    padding:7px;
                    font-weight: 700;
                }
        
                .tbody {
                    background-color:  var(--color_mode);
                    padding: 7px;
                }
            }
            .sideimage {
                margin-left: 5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;;
                // background: #00A67D;
            }
        
            .pageimage {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                margin-inline: auto;
                width:50vw;
                img {
                    margin-inline: auto;
                    width: 100%;
                }   
        
                i {color: var(--text_color_secondary)}
            }
            .link {
                text-decoration: underline;
                text-decoration-color: var(--text_color_secondary);
            }
            .codings {
                margin-inline: auto;
                background-color: var(--color_mode);
                // background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
        
                overflow: hidden;
                width:50vw;
                // min-width: fit-content;
                border: 0px;
                border-radius: 10px;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
                padding: 0;
        
                position: relative;
                h1 {
                    font-size: $font_paragraph;
                    background-color: #494949;
                    padding: 5px;
                    width:100%;
                }
        
                .code {
                    width: 100%;
                    overflow:auto;
        
                    pre {
                        margin: 0;
                        padding: 0 1.5rem 1.5rem 1.5rem;
                        border: 0;
                        border-radius: 0;
                        overflow: auto;
                    }
                }
            }
        }
    }
}